<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MotoGP Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header class="top-banner">
        <div class="banner-left">Creado por : Sergio Morales</div>
        <div class="banner-right">
            <span>contacto@ejemplo.com</span>
            <span>+34 600 000 000</span>
            <a href="/about_me" class="btn-about">About me</a>
            <a href="/logout" class="btn-header">Logout</a>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>